<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="container">
    <div class="row">
        <h2 th:text="${title}">Welcome to my blog</h2>
    </div>

    <div class="row">
        <p>
            <a class="btn btn-primary" href="/users" role="button">返回</a>
        </p>
    </div>
    <div class="row">
        <p class="text-left"><strong>ID:</strong><span id="id" th:text="${user.id}"></span></p>
    </div>
    <div class="row">
        <p class="text-left"><strong>Name:</strong><span id="name" th:text="${user.username}"></span></p>
    </div>
    <div class="row">
        <p class="text-left"><strong>Age:</strong><span id="email" th:text="${user.email}"></span></p>
    </div>
    <div class="row">
        <p class="text-left"><strong>Password:</strong><span id="password" th:text="${user.password}"></span></p>
    </div>

    <div class="row">
        <a th:href="@{'/users/delete/' + ${user.id}}">删除 </a>
        | <a th:href="@{'/users/modify/' + ${user.id}}">修改</a>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>
